<table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let task">{{ task.ID }}</td>
    </ng-container>

    <!-- CreatedAt Column -->
    <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
        <td mat-cell *matCellDef="let task">{{ task.CreatedAt }}</td>
    </ng-container>

    <!-- UpdatedAt Column -->
    <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
        <td mat-cell *matCellDef="let task">{{ task.UpdatedAt }}</td>
    </ng-container>

    <!-- DeletedAt Column -->
    <ng-container matColumnDef="deletedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Deleted At</th>
        <td mat-cell *matCellDef="let task">{{ task.DeletedAt }}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
        <td mat-cell *matCellDef="let task">{{ task.Description }}</td>
    </ng-container>

    <!-- Prompt Column -->
    <ng-container matColumnDef="prompt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prompt</th>
        <td mat-cell *matCellDef="let task">{{ task.Prompt }}</td>
    </ng-container>

    <!-- Commands Column -->
    <ng-container matColumnDef="commands">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Commands</th>
        <td mat-cell *matCellDef="let task">{{ task.Commands }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
        <td mat-cell *matCellDef="let task">
            <button mat-icon-button color="accent" (click)="runTask(task)">
                <mat-icon>play_arrow</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="editTask(task)">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteTask(task)">
                <mat-icon>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>