<h1>Reviews</h1>

<mat-slide-toggle (change)="toggleDetails()">Toggle Details</mat-slide-toggle>

<mat-paginator [pageSizeOptions]="[5]" [pageSize]="5" showFirstLastButtons></mat-paginator>

<table mat-table [dataSource]="dataSource" mat-Sort mat-row-hover>

    <!-- Topic Column -->
    <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef> Topic </th>
        <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
    </ng-container>

    <!-- Summary Column -->
    <ng-container matColumnDef="short_summary">
        <th mat-header-cell *matHeaderCellDef> Short Summary </th>
        <td mat-cell *matCellDef="let element"> {{element.short_summary}} </td>
    </ng-container>

    <!-- Rating Tags Column -->
    <ng-container matColumnDef="rating_tags">
        <th mat-header-cell *matHeaderCellDef> Rating Tags </th>
        <td mat-cell *matCellDef="let element">
            <mat-chip-listbox>
                <mat-chip *ngFor="let tag of element.rating_tags">{{tag}}</mat-chip>
            </mat-chip-listbox>
        </td>
    </ng-container>

    <!-- Support Agent Quality Score Column -->
    <ng-container matColumnDef="support_agent_quality_score">
        <th mat-header-cell *matHeaderCellDef> Support Agent Quality Score </th>
        <td mat-cell *matCellDef="let element">
            <ng-container *ngFor="let i of [].constructor(element.support_agent_quality_score)">
                <mat-icon>star</mat-icon>
            </ng-container>
        </td>
    </ng-container>

    <!-- Performance Column -->
    <ng-container matColumnDef="performance">
        <th mat-header-cell *matHeaderCellDef> Performance </th>
        <td mat-cell *matCellDef="let element">
            <mat-icon
                [ngStyle]="{'color': getColor(element.support_agent_quality_score)}">{{getIcon(element.support_agent_quality_score)}}</mat-icon>
        </td>
    </ng-container>

    <!-- Quality Score Reason Column -->
    <ng-container matColumnDef="quality_score_reason">
        <th mat-header-cell *matHeaderCellDef> Quality Score Reason </th>
        <td mat-cell *matCellDef="let element"> {{element.quality_score_reason}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"></mat-paginator>