<div class="container">
    <h2>Prompts</h2>
    <button mat-raised-button color="primary" (click)="openDialog()">Add Prompt</button>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- Table Columns -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let prompt">{{ prompt.ID }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let prompt">{{ prompt.Name }}</td>
        </ng-container>
        <ng-container matColumnDef="content">
            <th mat-header-cell *matHeaderCellDef>Content</th>
            <td mat-cell *matCellDef="let prompt">{{ prompt.Content | slice:0:80}}...</td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let prompt">
                <button mat-icon-button color="primary" (click)="editPrompt(prompt)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deletePrompt(prompt.ID)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let prompt; columns: displayedColumns;"></tr>
    </table>
</div>