<div class="container">
    <div class="buttons">
        Examples:
        <button mat-raised-button color="primary" *ngFor="let button of buttonContents"
            (click)="expandContent(button.hidden)">
            {{ button.visible }}
        </button>
    </div>
    <div class="content">
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Instruction</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-card>
                <mat-card-content>
                    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
                        <mat-form-field class="wider-textarea">
                            <textarea matInput rows="30" placeholder="Choose one of the Example Prompts on the side."
                                formControlName="prompt" (input)="updateCharacterCount() "></textarea>
                        </mat-form-field>
                        <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                        <div class="character-count">{{ characterCount }} /2048 characters</div>
                        <br>
                        <div class="button-group">
                            <button mat-raised-button color="primary" type="submit"
                                [disabled]="isLoading">Generate</button>
                            <button mat-raised-button color="primary" (click)="saveReview(this.response)"
                                [disabled]="!response">Save Response</button>

                        </div>
                    </form>
                    <br>
                    <div class="response-container">
                        <div *ngIf="response" class="response-content">{{ response }}</div>
                        <div *ngIf="!response" class="response-placeholder">No response</div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-expansion-panel>
        <!-- <textarea [(ngModel)]="exampleMessage" (ngModelChange)="updateHiddenValue()"></textarea> -->

    </div>
</div>