.response-container {
    margin-top: 20px;
}

.response-content {
    white-space: pre-wrap;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.response-placeholder {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #999;
}

.wider-textarea {
    width: 100%;
    height: 100%;

}

.container {
    display: flex;
}

.content {
    flex-grow: 1;
    margin-right: 10px;
}



.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.buttons button {
    padding: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    margin-top: 20px;
}