<h2 mat-dialog-title>{{ data.mode === 'edit' ? 'Edit Prompt' : 'Add Prompt' }}</h2>
<div mat-dialog-content class="dialog-content">
    <div class="input-fields">
        <mat-form-field>
            <mat-label>Prompt Name</mat-label>
            <input matInput [(ngModel)]="prompt.Name" name="name" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Prompt Content</mat-label>
            <textarea matInput [(ngModel)]="prompt.Content" name="content" required style="height: 50vh"> </textarea>
        </mat-form-field>
    </div>

    <div class="example-elements">
        Used with:

        <div class="example-element">
            <mat-icon class="example-icon">chat</mat-icon>
            <a mat-button href="#" class="example-link">Chats</a>
            <span class="example-usage">(42)</span>
        </div>
        <div class="example-element">
            <mat-icon class="example-icon">assignment</mat-icon>
            <a mat-button href="#" class="example-link">Tickets</a>
            <span class="example-usage">(12)</span>
        </div>
        <div class="example-element">
            <mat-icon class="example-icon">notifications</mat-icon>
            <a mat-button href="#" class="example-link">Alarms</a>
            <span class="example-usage">(5)</span>
        </div>
        <div class="example-element">
            <mat-icon class="example-icon">error</mat-icon>
            <a mat-button href="#" class="example-link">Anomalies</a>
            <span class="example-usage">(2)</span>
        </div>

        In order the prompt to be valid remember to insert an FNX_MESSAGE_EVAL_REPLACEMENT variable.

    </div>
</div>
<div mat-dialog-actions class="dialog-actions">
    <button mat-button color="info" (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="prompt" cdkFocusInitial>Save</button>
</div>