.dialog-content {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-gap: 16px;
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.example-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 32px;
}

.example-element {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.example-icon {
    margin-right: 8px;
}

.example-link {
    text-decoration: none;
    color: #1976d2;
    font-weight: bold;
    margin-right: 8px;
}

.example-usage {
    color: #888;
    font-weight: bold;
}

.dialog-actions {
    display: flex;
    justify-content: flex-start;
}

button {
    margin-left: 8px;
    font-size: 14px;
    border-radius: 4px;
}