<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
        <mat-toolbar>🤖 QC-v3-autopilot</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/review-form">🔧 Manual Review</a>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Reviews</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/reviews">Chat 🐶</a>
                    <a mat-list-item routerLink="/about">Tickets</a>
                    <a mat-list-item routerLink="/about">Trustpilot 😍</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <a mat-list-item routerLink="/about">Chat with 🇮🇳</a>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>Alarms</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <a mat-list-item routerLink="/about">Clusters</a>
                    <a mat-list-item routerLink="/about">Origins</a>
                    <a mat-list-item routerLink="/about">Edge</a>
                </mat-nav-list>
            </mat-expansion-panel>
            <!-- <a mat-list-item routerLink="/task-list">Tasks</a> -->
            <a mat-list-item routerLink="/prompts">Prompts</a>
            <a mat-list-item routerLink="/chats">Chats</a>

            <a mat-list-item routerLink="/about">Firewall</a>
            <a mat-list-item routerLink="/about">Clusters</a>
            <a mat-list-item routerLink="/contact">Tickets</a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>